<h1>Add a team</h1>

<%= form_tag '/teams', method: :post do %>
  <div> 
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div> 
    <%= label_tag :league_id %>
    <%= text_field_tag :league_id %>
  </div>
  <div> 
    <%= label_tag :sport_id %>
    <%= text_field_tag :sport_id %>
  </div>
  <%= submit_tag %>
<% end %>