<style>
  .team-info {
    color: white;
    margin-top: 50px;
  }

  .whitewash {
    color: white;
  }
  #team_logo {
    border-radius: 150px;
    height: 525px;
    width: 525px;
    /*position: fixed;*/
    margin-top: 50px;
    margin-left: 50px;
  }
  .panel.panel-default{
    width: 500px;
  }
  #check-in-thumb{
    width: 150px;
    height: 100px;
  }
  .matchup-logos{
    width: 85%;
    margin: 10px;
    border-radius: 100px;
  }
  #versus{
    margin-top: 60px;
    text-align: center;
  }
</style>

<div class="row">
  <div class="col-md-6">
    <img id="team_logo" src="<%= @team.logo %>">
  </div>


  <div class="col-md-6">
    <div class="team-info">
      <h1><%= @team.name %></h1>
      <p>League: <%= @team.league.name %></p>
      <p>Sport: <%= @team.sport.name %></p>
      <br>
    </div>
   

    <h2 class="whitewash">Recent and Upcoming Games</h2>
      <% if @games.present? %>
      <div class='panel panel-default'>
        <% @games.each do |game| %>
          <div class="panel panel-heading">
            <h3 class="panel-title"><%= game.team_1.name %> vs. <%= game.team_2.name %></h3>
          </div>
          <div class='panel-body'>
            <p><%= game.id %></p>
            <p>Date: <%= game.date %></p>
            <p>Time: <%= game.time %> CST</p>
          </div>
        <% end %>
    <% else %>
      <p>It doesn't look like they're playing in the next couple of days.</p>
    <% end %>
      </div>
  </div>
</div>

<h2 class="whitewash">Check-ins</h2>
    <% if @team.check_ins.present? %>
      <% @team.check_ins.each do |check_in| %>
      <div class="col-sm-8 col-md-4">
        <div class="thumbnail">
          <div class="row">
            <div class="col-xs-5">
              <%= image_tag(check_in.game.team_1.logo, :class => "matchup-logos") %>
            </div>
            <div class="col-xs-2" id="versus">
              <h3>Vs.</h3>
            </div>
            <div class="col-xs-5">
              <%= image_tag(check_in.game.team_2.logo, :class => "matchup-logos") %>
            </div>
          </div>
            <div class="caption">
              <h3><%= check_in.bar.name %></h3>
              <p>Game: <%= check_in.game.team_1.name %> vs <%= check_in.game.team_2.name %></p> 
              <p>Date: <%= check_in.game.date %></p>   
              <p>User: <%= check_in.user.email %></p>
            </div>
        </div>
      </div>
      <% end %>
    <% else %>
      <p>Sorry, there are no check-ins for this team.</p>
    <% end %>
</style>

