<style>
  img {
    border-radius: 10px;
  }
</style>

<h1>Here is a team.</h1>
<img src="<%= @team.logo %>">
<h2><%= @team.name %></h2>
<br>
<p>League: <%= @team.league.name %></p>
<p>Sport: <%= @team.sport.name %></p>
<br>
<h3>Check-ins</h3>
<% if @team.check_ins.first.present? %>
  <% @team.check_ins.each do |check_in| %>
    <p>Game: <%= check_in.game.team_1.name %> vs <%= check_in.game.team_2.name %></p>
    <p>Bar: <%= check_in.bar.name %></p>
  <% end %>
<% else %>
  <p>Sorry, there are no check-ins for this team.</p>
<% end %>

<h3>Recent and Upcoming Games</h3>
<div class='panel panel-default'>
<% @games.each do |game| %>
  <div class="panel panel-heading">
    <h3 class="panel-title"><%= game.team_1.name %> vs. <%= game.team_2.name %></h3>
  </div>
  <div class='panel-body'>
    <%= link_to game.id, "/games/#{game.id}" %>
    <p>Date: <%= game.date %></p>
    <p>Time: <%= game.time %> CST</p>
    <p><%= game.league.name %></p>
    <p><%= game.sport.name %></p>
  </div>
<% end %>
</div>

