<div class="container">
  <h1>Here is yo bar</h1>

  <h2><%= @bar.name %></h2>
  <h2><%= link_to @bar_attributes['result']['url'] %></h2>
  <h2><%= @bar_attributes['result']['formatted_phone_number'] %></h2>
  <h2><%= @bar_attributes['result']['opening_hours']['weekday_text'] %></h2>
  
  <p><strong>Check-Ins</strong></p>
  <% @bar.check_ins.each do |check_in| %>
   <p><%= check_in.id %>: <%= check_in.game.team_1.name %> vs. <%= check_in.game.team_2.name %></p>
   <p><%= check_in.user.first_name %> <%= check_in.user.last_name %></p>
  <% end %>

  <h1>Today's Games</h1>
  <% @games.each do |game| %>
    <h2><%= link_to "#{game.team_1.name}", "/games/#{game.id}" %> vs. <%= link_to "#{game.team_2.name}", "/games/#{game.id}"  %></h2>
    <p>Date: <%= game.date %></p>
    <p>Time: <%= game.time %></p>
    <p>Game ID: <%= game.id %></p>
    <%= link_to "Check-In!", "/check_ins/new", class: "btn btn-success" %>
  <% end %>
</div>