<div class="container">
  <h1>Here is yo bar</h1>

  <h2><%= @bar.name %></h2>
  <h2><%= @bar.address %></h2>
  <% unless @bar_attributes.empty? %>
    <h2><%= link_to @bar_attributes['result']['url'] %></h2>
    <h2><%= @bar_attributes['result']['formatted_phone_number'] %></h2>
  <% end %>
  <% unless @photo_reference.empty? %>
    <img src="<%= @bar_photos %>">
  <% end %>
 
  
  <h2><strong>Check-Ins</strong></h2>
  <% @bar.check_ins.each do |check_in| %>
   <p><%= check_in.id %>: <%= check_in.game.team_1.name %> vs. <%= check_in.game.team_2.name %></p>
   <p><%= check_in.user.first_name %> <%= check_in.user.last_name %></p>
  <% end %>

  