<style>
  #fixed-profile{
    text-align: center;
    color: white;
  }
  #profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-top: 100px;
    margin-bottom: 15px;
  }

  #profile-team-pic{
    width: 75px;
    height: 75px;
    border-radius: 150px;
  }
  .pushdown{
    margin-top: 30px;
    color: white;
  }
  .whitewash {
    color: white;
  }
  .panel.panel-default{
    width: 500px;
  }
</style>

<div class="row"> 
  <div class="col-md-6" id="fixed-profile">
      <img id="profile-pic" src="<%= @user.image %>">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p><%= @user.email %></p>
  </div>

  <div class="col-md-6">
    <h3 class="pushdown">Favorite Teams</h3>
    <% unless @user.user_teams.empty? %>
      <% @user.user_teams.each do |user_team| %>
        <img id="profile-team-pic" src="<%= user_team.team.logo %>">
        <p><%= user_team.team.name %></p>
      <% end %>
    <% end %>

    <h3 class="pushdown">Check-Ins</h3>
    <% if @user.check_ins.present? %>
      <div class="panel panel-default">
      <% @user.check_ins.each do |check_in| %>
        <div class="panel panel-heading">
          <h3 class="panel-title"><%= check_in.game.team_1.name %> vs. <%= check_in.game.team_2.name %></h3>
        </div>
        <div class="panel-body">
          <p>Bar: <%= check_in.bar.name %></p>
          <p>Date: <%= check_in.game.date %></p>
          <p>Check-In ID: <%= check_in.id %></p>       
        </div>
        <% end %>
    <% else %>
      <p>You haven't checked in anywhere yet!</p>
    <% end %>
  </div>
</div>

