<h1>All dem checkins</h1>

<% @check_ins.each do |check_in| %>
  <p><%= check_in.id %></p>
  <p><%= check_in.bar.name %></p>
  <p><%= check_in.game.team_1.name %></p>
  <p><%= check_in.game.team_2.name %></p>
  <p>League: <%= check_in.game.league.name %></p>
  <p>Sport: <%= check_in.game.sport.name %></p>
  <p>By User: <%= check_in.user.email %></p>
<% end %>