<h1>Show me a check_in</h1>

<p>User email: <%= @check_in.user.email %></p>
<p>Bar Name: <%= @check_in.bar.name %></p>
<p>Team 1 ID: <%= @check_in.game.team_1.name %></p>
<p>Team 2 ID: <%= @check_in.game.team_2.name %></p>
<p>League: <%= @check_in.game.league.name %></p>
<p>Sport: <%= @check_in.game.sport.name %></p>
<p>Comment: <%= @check_in.comments %></p>

