<!DOCTYPE html>
<html>  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
   

    <!-- Essential styles -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="/css/global-style-bw.css" rel="stylesheet" media="screen">
        

    <!-- Favicon -->
    <link href="images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="assets/sky-forms/css/sky-forms.css">    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->
      <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      ::-webkit-input-placeholder {
         font-size: 13px;
         color: white;
         text-transform: uppercase;
         text-transform: uppercase;
         letter-spacing: 0.5px;
         text-align: center;
        }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 25px;
        height: 46px;
        width: 100%;
        background-color: #1a1a1a;
        border: 1px solid #262626;
        color: #fff;
        font-size: 13px;
        text-indent: 5px;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    </style>
    <style>
        .inline-form-filters {
        position: relative;
        padding: 25px;
        border-radius: 20px;
    }
    section.slice {
        padding: 45px 0;
    }
    </style>

    <!-- Required JS -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    
</head>
<body>
<!-- MODALS -->


<!-- SLIDEBAR -->

<!-- MAIN WRAPPER -->
<div class="body-wrap">
            
    <!-- MAIN CONTENT -->
        <div class="static-page-image">
        <img src="images/backgrounds/bar_banner1.jpg" alt="" id="banner">
        <div class="description-left">
            <!-- <span class="title c-white">Help others to achieve their dreams</span> -->
            <!-- <span class="subtitle text-wrapped alpha c-black">A complete website template that can be perfectly adapted in any situation or quickly customized for other ideas.</span> -->
            <!-- <a href="#" class="btn btn-lg btn-b-white mt-40 hidden-xs">Post a job now</a> -->
        </div>
    </div>

    <section class="slice bg-white">
        <div class="container">
            <div class="wp-section relative">
                <!-- <form class="form-inline form-base" role="form" action="/bars/search" method="post"> -->
                <%= form_tag "/bars/search", method: :post, class: "form-inline form-base", role: "form" do %>
                    <div class="inline-form-filters over-top-element base">
                        <!-- Optional filters tigger button -->

                        <!-- Main filters -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-group-lg">
                                    <label class="sr-only">Search text</label>
                                    <input type="text" name="search_team" class="form-control input-lg" placeholder="I want to watch the...">
                                </div>
                            </div>
                            <div class="col-md-6">          
                                <div class="form group form-group-lg" id="locationField">
                                    <input id="autocomplete" name="search_location" placeholder="Near this address" onFocus="geolocate()" type="text"></input>
                                </div>                                
                            </div>
                            <div class="col-md-1">
                                <div class="form-group form-group-lg">
                                    <input type="text" name="miles_search" class="form-control input-lg" placeholder="W/IN">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-lg btn-block btn-alt btn-icon btn-icon-right foobar">
                                    <span class="show-me">Show me bars!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                 <!-- </form> -->
                 <% end %>
            </div>
        </div>
    </section>

</div>

<h2>Today's Games</h2>

<div class='panel panel-default'>
<% @games.each do |game| %>
  <div class="panel panel-heading">
    <h3 class="panel-title"><%= game.team_1.name %> vs. <%= game.team_2.name %></h3>
  </div>
  <div class='panel-body'>
    <p>Date: <%= game.date %></p>
    <p>Time: <%= game.time %> CST</p>
    <p>League: <%= game.league.name %></p>
    <p>Sport: <%= game.sport.name %></p>
    <p>Game ID: <%= game.id %></p>
    <%= link_to "Check In!", "/check_ins/new", class: "btn btn-success"%>
  </div>
<% end %>
</div>
<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
// [END region_geolocation]

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3OZx7Ka5cu3nD10cSC2kaT5Ltb4jftk0&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>



</body>
</html>