<!DOCTYPE html>
<html>  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
   

    <!-- Essential styles -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="/css/global-style-bw.css" rel="stylesheet" media="screen">
        

    <!-- Favicon -->
    <link href="images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="assets/sky-forms/css/sky-forms.css">    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->

    <!-- Required JS -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    
</head>
<body>
<!-- MODALS -->


<!-- SLIDEBAR -->

<!-- MAIN WRAPPER -->
<div class="body-wrap">
            
    <!-- MAIN CONTENT -->
        <div class="static-page-image">
        <img src="images/backgrounds/bar_banner.jpg" alt="" id="banner">
        <div class="description-left">
            <!-- <span class="title c-white">Help others to achieve their dreams</span> -->
            <!-- <span class="subtitle text-wrapped alpha c-black">A complete website template that can be perfectly adapted in any situation or quickly customized for other ideas.</span> -->
            <!-- <a href="#" class="btn btn-lg btn-b-white mt-40 hidden-xs">Post a job now</a> -->
        </div>
    </div>

    <section class="slice bg-white">
        <div class="container">
            <div class="wp-section relative">
                <!-- <form class="form-inline form-base" role="form" action="/bars/search" method="post"> -->
                <%= form_tag "/bars/search", method: :post, class: "form-inline form-base", role: "form" do %>
                    <div class="inline-form-filters over-top-element base">
                        <!-- Optional filters tigger button -->

                        <!-- Main filters -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-group-lg">
                                    <label class="sr-only">Search text</label>
                                    <input type="text" name="search_team" class="form-control input-lg" placeholder="I want to watch...">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-lg field_select">
                                    <label class="sr-only">City</label>
                                    <select class="form-control select_styled base no-padding">
                                        <option value="1">All cities</option>
                                        <option value="2">Bucharest</option>
                                        <option value="3">Germany</option>
                                        <option value="4">Greece</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-lg field_select">
                                    <label class="sr-only">Field</label>
                                    <select class="form-control select_styled base no-padding">
                                        <option value="1">All fields</option>
                                        <option value="2">Engineering</option>
                                        <option value="3">Software</option>
                                        <option value="4">Management</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-lg field_select">
                                    <label for="adults" class="sr-only">Type</label>
                                    <select class="form-control select_styled base no-padding">
                                        <option value="1">Full Time</option>
                                        <option value="2">Part Time</option>
                                        <option value="3">Freelancer</option>
                                        <option value="4">Project Based</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-lg btn-block btn-alt btn-icon btn-icon-right btn-icon-go">
                                    <span>Show me bars!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                 <!-- </form> -->
                 <% end %>
            </div>
        </div>
    </section>

</div>

<h2>Today's Games</h2>
<div class='panel panel-default'>
<% @games.each do |game| %>
  <div class="panel panel-heading">
    <h3 class="panel-title"><%= game.team_1.name %> vs. <%= game.team_2.name %></h3>
  </div>
  <div class='panel-body'>
    <p>Date: <%= game.date %></p>
    <p>Time: <%= game.time %> CST</p>
    <p>League: <%= game.league.name %></p>
    <p>Sport: <%= game.sport.name %></p>
    <p>Game ID: <%= game.id %></p>
    <%= link_to "Check In!", "/check_ins/new", class: "btn btn-success"%>
  </div>
<% end %>
</div>




</body>
</html>