<h1>All the games</h1>

<% @games.each do |game| %>
  <h2><%= game.team_1.name %> vs. <%= game.team_2.name %></h2>
  <p>Location: <%= game.location %></p>
  <p><%= game.league.name %></p>
  <p><%= game.sport.name %></p>
<% end %>