<h1>Add a game</h1>

<%= form_tag '/games', method: :post do %>
  <div>
    <%= label_tag :team_1_id %>
    <%= text_field_tag :team_1_id %>
  </div>
  <div>
    <%= label_tag :team_2_id %>
    <%= text_field_tag :team_2_id %>
  </div>
  <div>
    <%= label_tag :date %>
    <%= text_field_tag :date %>
  </div>
  <div>
    <%= label_tag :time %>
    <%= text_field_tag :time %>
  </div>
  <%= submit_tag "Add dis game yo" %>
<% end %>