<style>
  .games-today{
    border-radius: 40px;
    width: 475px;
    height: 475px;
  }
  .media-body{
    color: white;
    text-align: center;
  }
  #check-in-thumb{
    width: 150px;
    height: 100px;
  }
  h2{
    color: white;
    margin-top: 20px;
  }
  h3:hover{
    background-color: #e74c3c;
    border-radius: 20px;
  }
  .matchup-logos{
    width: 95%;
    border-radius: 100px;
  }
  #versus{
    margin-top: 25px;
  }
</style>

<div class='media'>
    <div class="media-left">
      <img class="games-today" src="<%= @game.team_1.logo %>">
    </div>
    
    <div class="media-body">
      <h4 class="todays-teams"><%= @game.team_1.name %> vs. <%= @game.team_2.name %></h4>
        <p>Date: <%= @game.date %></p>
        <p>Time: <%= @game.time %> CST</p>
        <p>League: <%= @game.league.name %></p>
        <p>Sport: <%= @game.sport.name %></p>
        <p>Game ID: <%= @game.id %></p>
        <% if current_user %>
          <%= link_to "Check In!", "/check_ins/new", class: "btn btn-success" %>
        <% end %>
    </div>

    <div class="media-right">
      <img class="games-today" src="<%= @game.team_2.logo %>">
    </div>
</div>

<h2>Check Ins</h2>
<% if @game.check_ins.present? %>
  <div class="caption">
    <% @game.check_ins.each do |check_in| %>
    <div class="col-sm-8 col-md-3">
      <div class="thumbnail">
        <div class="row">
          <div class="col-xs-5">
            <%= image_tag(check_in.game.team_1.logo, :class => "matchup-logos") %>
          </div> 
          <div class="col-xs-2" id="versus">
            <p>Vs.</p>
          </div> 
          <div class="col-xs-5">
            <%= image_tag(check_in.game.team_2.logo, :class => "matchup-logos") %>
          </div>
        </div>
        <div class="caption">
          <h3><%= link_to check_in.bar.name, "/bars/#{check_in.bar.id}" %></h3>
          <p><%= check_in.bar.address %></p>
          <p><%= check_in.id %></p>
          <p>Date: <%= check_in.game.date %></p>
          <p>User: <%= check_in.user.first_name %> <%= check_in.user.last_name %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
<% else %>
  <p>Sorry, no check ins for this game.</p>
<% end %>