<!DOCTYPE html>
<html>
<head>
  <title>It's On!</title>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Boomerang 2 - MultiPurpose Template</title>

    <!-- Essential styles -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="/css/global-style-bw.css" rel="stylesheet" media="screen">
        
    
    <!-- Favicon -->
    <link href="/images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/assets/sky-forms/css/sky-forms.css">    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->
    <style>
        .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
            margin-left: -15px;
            font-size: 35px;
            font-weight: bold;
            margin-top: 30px;
            font-family: "Roboto Slab"
        }
         .navbar-wp .navbar-nav>li>a {
            text-transform: uppercase !important;
        }
    </style>
 
    <!-- Required JS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    

    <!-- Page scripts -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
</head>
<body>
  <div class="body-wrapper">
    <div class="container"></div>
    <div id="divHeaderWrapper">
    <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <a class="navbar-brand" href="/">IT'S ON!</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-md hidden-lg">
                        <div class="bg-light-gray">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="I want to find ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    
                    <li>
                        <a href="/bars">Bars</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <li><a tabindex="-1" href="/teams?league_id=1">NFL</a></li>
                            </li>
                            <li class="dropdown-submenu">
                                <li><a tabindex="-1" href="/teams?league_id=2">NBA</a></li>
                            </li>
                            <li class="dropdown-submenu">
                                <li><a tabindex="-1" href="/teams?league_id=3">NHL</a></li>
                            </li>
                        </ul>
                    </li>
                    <% if current_user %>
                        <li>
                            <a href="/check_ins/new">Check In Now!</a>
                        </li>
                    <% end %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Account</a>
                        <ul class="dropdown-menu">
                            <% if current_user %>
                                <li><%= link_to "Your Homepage", "/users/#{current_user.id}" %></li>
                                <li><%= link_to "Sign out!", "/users/sign_out", method: :delete %></li>
                            <% else %>
                              <li><a href="/users/sign_up">Sign up!</a></li>
                              <li><a href="/users/sign_in">Sign in!</a></li>
                            <% end %>                          
                        </ul>
                    </li>

                </ul>               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        
</div>

<div class="container-fluid">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
    </div>
  <% end %>
  </div>
<%= yield %>
<!-- Essentials -->
<script src="/js/modernizr.custom.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="/js/jquery.easing.js"></script>
<script src="/js/jquery.metadata.js"></script>
<script src="/js/jquery.hoverup.js"></script>
<script src="/js/jquery.hoverdir.js"></script>
<script src="/js/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script> 
<script src="/assets/ui-kit/js/cusel.min.js"></script>
<script src="/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="/assets/mixitup/jquery.mixitup.js"></script>
<script src="/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/assets/waypoints/waypoints.min.js"></script>
<script src="/assets/milestone-counter/jquery.countTo.js"></script>
<script src="/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="/assets/social-buttons/js/rrssb.min.js"></script>
<script src="/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="/assets/owl-carousel/owl.carousel.js"></script>
<script src="/assets/bootstrap/js/tooltip.js"></script>
<script src="/assets/bootstrap/js/popover.js"></script>


<!-- Sripts for individual pages, depending on what plug-ins are used -->

<!-- Boomerang App JS -->
<script src="/js/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Temp -- You can remove this once you started to work on your project -->

</body>
</html>
